* {
    border: 0;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

input {
    outline-style: none;
}

body {
    /* background-color: gray; */
    display: flex;
    align-content: center;
    justify-content: center;
}

.w {
    background-color: gray;
}

.container {
    position: absolute;
    height: 500px;
    width: 400px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.head {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.btn-c {
    height: 47px;
    margin-left: 20px;
    color: black;
    font-size: 16px;
    background-color: white;
    text-align: center;
}
.btn-c:focus{
    font-weight: bold;
    border-bottom: 3px solid #0066ff;
    /* background-color: white; */
}

.body {
    /* height: 20px; */
    /* margin-top: 45px; */
    margin: 5px 15px 0 15px;
    display: flex;
    flex-direction: column;
    /* background-color: black; */
}

.input1 {
    border-bottom: 1.5px solid #f7f7f7;
    height: 50px;
    width: 100%;
    margin-top: 15px;
}

.png {
    max-width: 20px;
    position: absolute;
    top: 150px;
    right: 20px;
}

.select1 {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.select1>div {
    width: 50%;
    font-size: 13px;
}
.select1>div>a.one:visited {
    color: #165099;
}
.select1>div>a.one:hover {
    color: gray;
}
.select1>div>a.two:visited {
    color: #8591a7;
}
.select1>div>a.two:hover {
    color: gray;
}
.select1>div:first-child {
    text-align: left;
    color: #165099;
}
.select1>div:last-child {
    text-align: right;
    color: #8591a7;
}

.btn1 {
    height: 37px;
    background-color: #0066ff;
    color: white;
    border-radius: 3px;
}
.btn1:hover {
    background-color: rgba(0, 70, 255);
}

.ntc {
    height: 50px;
    margin-top: 40px;
    color: #818181;
    font-size: 14px;
    border-bottom: 1.5px solid #f7f7f7;
}
.ntc>a:visited {
    color: #818181;
}
.ntc>a:hover {
    color: #818181;
}

.other-choice {
    margin-top: 20px;
    display: flex;
    font-size: 15px;
    color: #8591a7;
}
.other-choice>div>img {
    max-height: 16px;
}
.other-choice>.one {
    margin-right: 40px;
}
.other-choice>.two {
    margin-left: 30px;
}
.other-choice>div>a{
    margin-left: 5px;
}
.other-choice>div>a:hover {
    color: #8591a7;
}
.other-choice>div>a:visited{
    color: #8591a7;
}

.foot {
    height: 70px;
    background-color: #f7f7f7;
    margin-top: 20px;
    padding: 0 15px;
    display: flex;
    align-items: center;
}
.foot>div {
    width: 50%;
    height: 20px;
    font-size: 14px;
}
.foot>div>img {
    margin-right: 5px;
}
.foot>.one {
    text-align: left;
    border-right: 1.5px solid #ebebeb;
}
.foot>.two {
    text-align: right;
}
.foot>div>img {
    max-width: 20px;
}
.foot>div>a {
    color: #0066ff;
}