.weather-icon {
    max-width: 1.5rem;
}
/* 结束 */
.week-weather {
    position: relative;
    display: flex;
    justify-content: space-around;
    /* background-color: aqua; */
}

.week-day * + * {
    margin-bottom: 0.5rem;
}

.week-day {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weekday {
    margin-bottom: 0.5rem;
}

.max-temp-icon {
    margin-bottom: 9rem;
}

.week-charts {
    position: absolute;
    top: 5.5rem;
    width: 100%;
    height: 8rem;
    background-color: black;
}

.air {
    padding: 0.1rem 0.5rem;
    text-align: center;
    border-radius: 1em;
}
