.index-container {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #0d5aa5;
}

body {
    color: white;
    background-color: black;
}

.btn-1 {
    background-color: rgba(33, 66, 99, 0.5);
    border-radius: 1em;
    padding: 0.2rem 1rem;
}

.icon {
    max-width: 1.5rem;
    max-height: 1.5rem;
    margin: 0.1rem 0.4rem;
    margin-left: 0;
}

.weather-icon {
    max-width: 1.5rem;
}

.city-now {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0 1rem;
}
.city-now > img {
    max-width: 0.5rem;
    margin-right: 0.4rem;
    box-sizing: content-box;
    padding: 0.3rem;
}

.epidemic {
    display: flex;
    justify-content: space-between;
    padding: 0.1rem 0.5rem;
}

.epidemic > a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.city-weather {
    width: 10rem;
    position: absolute;
    top: 9rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* 当前度数 */
.now-temp {
    font-size: 6rem;
    text-align: center;
    width: 65%;
}

.city-weather span:nth-child(3) {
    font-size: 2rem;
}

/* 当前提示 */
.now-notice {
    width: 100%;
    position: absolute;
    top: 18.4rem;
    text-align: center;
}

.now-air-quality {
    display: flex;
    align-items: center;
    position: absolute;
    top: 17rem;
    right: 0.4rem;
}

.detail {
    margin-top: 15rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid #266bae;
    background-color: #266bae;
    grid-gap: 1px;
}

.today-weather,
.tomorrow-weather {
    background-color: #0d5aa5;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.this-daily,
.daily-temp,
.daily-text,
.daily-icon {
    width: 50%;
}

.daily-temp {
    text-align: right;
}

.daily-text,
.daily-icon {
    padding-top: 0.2rem;
}

.daily-info {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    display: flex;
    flex-wrap: wrap;
}

.daily-sunset,
.daily-menu,
.menu-select {
    width: 50%;
    padding: 0.3rem 0.5rem 0.2rem;
    border-bottom: 1px solid #4f88bf;
}

.daily-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu-select {
    padding-left: 0;
    padding-bottom: 0;
    display: none;
}

.menu-select > span {
    padding: 0 0.5rem;
}

.menu-select-selecting {
    border-bottom: 1px solid #fff;
}

.hour-temp,
.hour-wind {
    display: none;
    width: 100%;
    height: 6rem;
    padding: 0.2rem 0.5rem;
}

.tips {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #4f88bf;
    grid-gap: 1px;
}

.tips > li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;
    background-color: #0d5aa5;
}

.tips > li:last-child {
    background-color: #0d5aa5;
    grid-column: 2 / 4;
}

.icon-tips {
    max-width: 3rem;
}
