:root {
    box-sizing: border-box;
    font-size: 1em;
}

*,
::before,
::after {
    box-sizing: inherit;
}

* {
    padding: 0;
    margin: 0;
    border: none;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: white;
    text-decoration: none;
}

.clearflex::before,
.clearflex::after {
    display: table;
    content: " ";
}

.clearflex::after {
    clear: both;
}

.container {
    max-width: 631.5px;
    margin: 0 auto;
}

.icon-1 img {
    border-radius: 1em;
}

.icon-yellow img {
    background-color: #fcc713;
}

.icon-blue img {
    background-color: #51a6f2;
}

.icon-green img {
    background-color: #8fc31f;
}

.air-quality {
    display: inline-block;
    padding: 0 0.5rem;
    padding-bottom: 0.2rem;
    text-align: center;
    border-radius: 1rem;
    background-color: #8fc31f;
    margin-left: 0.5rem;
}
